<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img
          src="assets/images/ctslogo1.png"
          alt="user-image"
          class="img-fluid"
          width="140"
          height="70"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>

          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/CVSPharmacy"
              [routerLinkActive]="router.url.startsWith('/CVSPharmacy')==true?'active':'' "
              [routerLinkActiveOptions]="{ exact: false }"
              >Medicine</a>
              

          </li>

          <li class="nav-item">
            <a class="nav-link"
              routerLink="/BookAppointment"
              [routerLinkActive]="router.url.startsWith('/BookAppointment')==true?'active':'' "
              [routerLinkActiveOptions]="{ exact: true }"
            >Book Appoinment

            </a>
          </li>
        </ul>
        <ul
          class="d-flex flex-row align-items-center list-unstyled m-0 float-end"
        >
          <li class="nav-item " >
            <a
              [routerLink]="routerLink"
              class="nav-link "
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            > 

              <img
                *ngIf="isLoggedin && this.router.url!='/CVSPharmacy' "
                [src]="getImage()"
                alt="user-image"
                class="rounded-circle border border-dark"
                width="50"
                height="50"
              />



              <button *ngIf="!isLoggedin" 
              class="float-right cursor-pointer fs-5 fw-bold bg-success text-light ls-2"   
              mat-raised-button               
              [routerLink]="routerLink"
              >LOGIN</button>


            </a>
            <a [routerLink]="routerLink">
              <div *ngIf="isLoggedin  && this.router.url=='/CVSPharmacy' "  class="bg-light fw-bold rounded-circle me-4 p-1 fs-1  text-success  "><span class="fa fa-shopping-cart pe-1 "></span><span class="fs-6">{{cartSize}}</span> </div>
            </a>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
