<app-header></app-header>
<div class="container-fluid mt-5">

  <div class="row justify-content-center mb-5">
    <div class="col-3">
      <app-user></app-user>
    </div>
    <div class="col-8 ">
      <p class="text-center">Check the status of the recent orders, manage returns <br>and discover similar products.
      </p>
      <div class="accordion mt-5" id="accordionExample">
        <div class="accordion-item" *ngFor="let order of orders,let i = index">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              attr.data-bs-target="#collapse_{{i}}" aria-expanded="false" attr.aria-controls="collapse_{{i}}" >
              order#{{ order.orderNumber }} <span class="text-muted">&nbsp;&nbsp;Delivered on - {{ order.orderDate }}</span>
            </button>
          </h2>
          <div id="collapse_{{i}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body" *ngFor="let product of order.productList">
              <div>
                <div class="row">
                  <div class="col-md-3">
                    <!-- <img [src]="product.imagePath" alt="" style="max-height: 70px"> -->
                  </div>
                  <div class="col-md-6">
                    <p>{{ product.productName }}&nbsp;&nbsp;</p>
                    <p class="badge rounded-pill bg-secondary">{{ product.quantity }}-items</p>
                    <p>${{ product.price }}</p>
                  </div>
                  <div class="col-md-3 ">
                    <p>Delivered to</p>
                    <p>{{order.customerName}}</p>
                    <!-- <p class="text-muted">{{ "order.customerAddress" }}</p> -->
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>