<app-header></app-header>
<main>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-md-7">
        <h1 class="info-500">Hi {{username}} !</h1>
        <h1 class="primary-500">CPA 24/7 is always there for you</h1>
        <h1 class="neutral-600">
          Clinical & Pharmacy Application </h1>
        <div class="d-grid gap-2 mt-5 btn-groups">
          <button routerLink="/CVSPharmacy" class="btn btn-100 fs-5" type="button">
            <span class="material-icons">medical_services</span><span>Buy Medicine and Essentials</span>
          </button>
          <button routerLink="/BookAppointment" class="btn btn-100 fs-5" type="button">
            <span class="material-icons">person</span>Book Appointment with
            Doctors
          </button>
          <button class="btn btn-200 fs-5" type="button">
            <span class="material-icons">description</span>View Health Records
          </button>
        </div>
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <img src="assets/images/ctslogo.png" alt="user-image" class="img-fluid" width="380px" height="380px" />
        <img src="assets/images/men.png" alt="user-image" class="img-fluid rounded-circle imgmen" width="70px"
          height="70px" />
        <img src="assets/images/women.png" alt="user-image" class="img-fluid rounded-circle imgwomen" width="70px"
          height="70px" />
        <div class="briefcase rounded-circle">
          <i class="bi bi-bag-plus">

          </i>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe class="d-block w-100 vh-100" src="https://www.youtube.com/embed/WTwv062pAWs?autoplay=1&mute=1"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="..." />
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row banner mt-5">
      <div class="col-md-5 d-flex flex-column justify-content-center px-4 mx-5">
        <h1 class="fs-1 mb-2">Feeling Unwell ?</h1>
        <h6 class="fs-4 mb-3">
          Book an appointment with an nearest doctor around you
        </h6>
        <button class="btn" routerLink="/BookAppointment">Book</button>
      </div>
      <div class="col-md-5 position-relative">
        <img src="assets/images/doctor.png" alt="user-image" class="img-fluid banner-img" />
        <img src="assets/images/Rectangle.png" alt="user-image" class="img-fluid banner-img-blur" />
      </div>
    </div>
    <div class="row text-area mt-5">
      <div class="col-md-12">
        <p>
          CPA 24/7 - Your Most Trusted Healthcare Brand <br>
          CPA 24/7 is the largest multi-channel digital healthcare platform in India, created with a
          vision of eliminating flexibility <br>
          blockages from the healthcare
          industry. We believe in making healthcare affordable to everyone by combining <br>
          analytic excellence, affordable cost, and extensive research
          with advanced technology. CPA 24/7 is a single online <br>
          platform where you have access to a wide range of services such as online pharmacy,
          online doctor consultations, and <br>
          diagnostic lab tests at home. We also provide expert solutions for chronic conditions and COVID-care with a
          secured <br>
          digital vault, where you can safely upload all your medical
          reports.<br> <br>
          The Smart Choice for Your Health is Here <br>
          Make the best decision for your health by choosing CPA 24/7. Here's why you can count on us: <br><br>
          36 years of legacy in the healthcare industry <br>
          24x7 availability of doctors <br>
          More than 3.5 million diagnostic tests each year <br>
          700+ collection centres and 100+ laboratories <br>
          High quality and affordable diagnostic solutions <br>
          Fast and accurate test report results <br>
          Several medical specialties under one roof <br>
          Order medicines and book tests online with ease <br>
          Digitised health queries <br>
          Ask a Doctor Online 24/7 <br>
          Online doctor consultations take place through online doctor chat, call, or video call. This helps you to talk
          to doctors <br>
          online from the comfort of your home by simply choosing a doctor from different specialties. Avail
          personalised <br>
          solutions for any health problem with prompt online doctor consultation with CPA 24/7. <br>
          Safe and secure platform <br>
          Affordable rates <br>
          Video and chat options <br>
          Online Doctor Consultation - Now at Your Fingertips <br>
          The demand for doctors is expected to increase as new medicines allow people to live longer. However, there
          are <br>
          several ways to reach out to a doctor without the need to visit a hospital or clinic, all thanks to
          technology. With the <br>
          online facility available, doctor consultations have become easier, and you can get the right health care.
          Online doctor <br>
          consultations with 4000+ top medical doctors are available at CPA 24/7. Video call or chat with expert doctors
          from <br>
          100+ medical specialties, including | Dermatology | Gynaecology | Paediatrics | Psychiatry | General
          Physicians | <br>
          Gastroenterology | Dietetics | Ent Specialists | and more, in just 15 minutes. <br>
          Benefits of choosing online doctor consultations: <br>
          Save time, money, and effort.<br>
          No need to travel. <br>
          Most convenient option to choose from, and helps in early diagnosis.<br>
          Online doctor consultations are confidential and safe.<br>
          No risks of infections. <br>
          CPA Hospitals<br>
          CPA 24/7 is a part of CPA Hospitals. CPA Hospitals was established in 1983 by Dr. Prathap C Reddy. It
          incorporates <br>
          over 10,000 beds across 70 hospitals, over 4000 pharmacies, 172 primary care and diagnostic clinics, and 148
          <br>
          telemedicine facilities spread across 13 countries. Apollo Hospitals has touched billions of lives by offering
          exceptional <br>
          clinical outcomes.<br>
          Milestones of CPA Hospitals: <br>
          36 Years of legacy and<br>
          credibility in the healthcare industry.<br>
          NABL certified multi-channel digital healthcare platform.<br>
          World's best medical specialists.<br>
          Largest & trusted branded healthcare network.<br>
          Advanced healthcare technology.<br>
          Pharmacy Simplified with CPA 24/7 <br>
          CPA pharmacy is the most credible and established online pharmacy in India. It delivers 100% original
          medicines and <br>
          products. CPA pharmacy is believed to offer super-fast home delivery for all the healthcare essentials.
          Explore our <br>
          broad range of products such as baby care, personal care, wellness, lifestyle, health, and nutrition
          categories online <br>
          with ease.<br>
          Rapid deliveries of medicines are available online at CPA Pharmacy. In some cities, deliveries are done in
          less than 24 <br>
          hours.<br>
          Get health credits on purchasing medicines and products.<br>
          Alluring deals on medicines and other products.<br>
          A broad range of medicines and essential healthcare products to choose from. <br>
          Authentic and top-notch quality products.<br>
          Convenient Diagnostic Lab Tests at Home<br>
          Regular health check-ups are vital for a healthy life because it helps in detecting diseases at the earliest,
          following a <br>
          timely treatment. Apollo 2417 provides blood sample testing at your doorstep conveniently. You can book lab
          tests at <br>
          home and utilise the home-collection facility. We offer a broad range of diagnostic lab tests such as | RT-PCR
          Test | <br>
          Renal Profile Test (KFT, RFT) | Hemogram Test | Lipid Profile Test | Thyroid Profile Test (T3 T4 TSH) |
          D-Dimer Test | <br>
          Urine Culture Test | Complete Blood Count Test (CBC Test) | Widal Test | Liver Function Test (LFT) | and more.
          <br>
          Top-notch quality diagnostics are critical for the best treatment and personalised patient care.<br>
          Here are some simple steps to book a lab test:<br>
          Book online - Select the package or test you want to book.<br>
          Choose home-sample collection option - A qualified phlebotomist visits your home for sample collection at the
          <br>
          selected slot time.<br>
          Get fast and accurate blood test reports - download them from the app or website anytime, anywhere! <br>
          Find Pathology Labs with Ease at CPA 24/7 <br>
          Manage your health with prompt health check-ups from CPA 24/7. We offer an extensive range of laboratory
          services <br>
          that deliver factual diagnostic lab test results. You will find the most trusted pathology labs here at CPA
          24/7.<br>
          Other Services Offered by CPA 24/7 <br>
          Apollo Circle Membership: Premium Healthcare Program<br>
          Apollo 24/7 Circle is an elite membership plan for those who put their overall health and well-being on
          priority. This <br>
          membership plan guarantees priority access to Apollo's best doctors, personalised care, unique deals, and <br>
          comprehensive wellness programs especially curated by professionals.
        </p>
      </div>
    </div>

  </div>
</main>
<app-footer>

</app-footer>